server {
    listen 8080;
    resolver 169.254.0.2;

    location /_oauth/callback {
      set $matomohost "${MATOMO_HOST}";
      rewrite ^/_oauth/callback?(.*) /index.php?module=LoginOIDC&action=callback&provider=oidc break;
      proxy_pass https://$matomohost$uri$is_args$args;
    }

    error_log /dev/stdout info;
    access_log /dev/stdout;
}

server {
  listen 9090;

  location /healthz {
    add_header Content-Type text/plain;
    return 200 'OK';
  }
}
